$color-goldenrod: goldenrod;
$color-white: white;
$color-black: black;
$ff-poppins: 'Poppins', sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $ff-poppins;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

main div a {
    color: $color-goldenrod;
    text-decoration: underline;

}

img {
    max-width: 100%;
    text-align: center;
}


body {
    background-color: rgb(248, 239, 232);
}

h2 {
    color: $color-goldenrod;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1rem;
    text-align: center;
}

 main button a{
    color: black;
    background-color: rgb(238, 162, 70);
    text-align: center;
    border-radius: .5rem;
    padding: .5rem;
    display: inline-block;
    text-decoration: none;

    &:hover {
background-color: bisque;
    }
}

@mixin mq-tablet {
    @media (min-width:768px) {
        @content;

    }
}

@mixin mq-desktop {
    @media (min-width: 1024px) {
        @content;
    }
}