.portada-audiciones {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}

.form-texto {
    text-align: center;

}

.audicion-texto {
    text-align: center;
}


.audicion-title {
    font-size: 2rem;
    text-align: center;
}

.form-title {
    font-size: 2rem;
    text-align: center;
}

h3 {
    text-align: start;

}

.audicion-texto {
    text-align: start;
}

.form-texto {
    text-align: start;
    align-content: center;
}

.boton {
    background-color: $color-black;
    color: color-white;
    border-radius: solid 2px $color-black;
}


    