.beca {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;

    &-boton {
        align-self: center;
    }

    .beca-title {
        font-size: 2rem;
        text-align: center;
        padding: 2rem;
    }

    @include mq-tablet {

        display: grid;
        grid-template-columns: 1fr 1fr;


        &-contenedor {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }

        &-boton {
            align-self: start;

        }
    }

}